<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/mediaQueryStyle.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="images/logo-mercado-liebre.svg" class="logo">
            <input class="barra" type="text" placeholder="Buscar marcas, productos y más" name="" id="">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <form action="/crear-producto" method="post">
                Elementos del formulario
            </form>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar" icon></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#">
            <i class="fa-solid fa-bars hamburguer-button"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/views/register.html" target="_self">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a>
                </li>
                <li><a href="#">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>
    </header>
    <div>
        <img class="banner" src="/images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <section>
            <p class="titular"><strong> Basado en tu última visita </strong></p>
            <div class="products">
                <article>

                    <img class="imagen-prod" src="images/img-cafetera-moulinex.jpg">
                    <div class="icon-truck">

                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="producto">
                        <span class="precio">$6.770</span>
                        <span class="descuento">40% OFF</span>
                        <h4 class="descripcion">Cafetera Moulinex</h4>

                    </div>

                </article>
                <article>

                    <img class="imagen-prod" src="images/img-macbook-pro-2019.jpg">
                    <div class="icon-truck">

                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="producto">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>

                </article>
                <article>

                    <img class="imagen-prod" src="images/img-samsung-galaxy-s10.jpg">
                    <div class="icon-truck">

                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="producto">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>

                    <img class="imagen-prod" src="images/img-tv-samsung-smart.jpg">
                    <div class="icon-truck">

                        <i class="fa-solid fa-truck"></i>
                    </div>

                    <div class="producto">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>

                </article>
            </div>

        </section>
        <section>
            <p class="titular"><strong>Sección de Ofertas</strong></p>
            <div class="products">

                <article>

                    <img class="imagen-prod" src="images/img-cafetera-moulinex.jpg">
                    <div class="icon-truck">

                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="producto">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
            

            </article>
            <article>

                <img class="imagen-prod" src="images/img-macbook-pro-2019.jpg">
                <div class="icon-truck">

                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="producto">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
                

            </article>
            <article>

                <img class="imagen-prod" src="images/img-samsung-galaxy-s10.jpg">
                <div class="icon-truck">

                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="producto">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
                
            </article>
            <article>

                <img class="imagen-prod" src="images/img-tv-samsung-smart.jpg">
                <div class="icon-truck">

                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="producto">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
                

            </article>
            </div>

        </section>

    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card" icon></i>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p><br>
        </section>
        <section>
            <i class="fa-solid fa-gift" icon></i>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p><br>

        </section>
        <section>
            <i class="fa-solid fa-user-shield" class="icon"></i>
            <p><strong> Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p><br>
        </section>
        <section>
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>


    </footer>
</body>

</html>