<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="datos">
        <form action="" method="get">
            <label for="datos">Nombre y Apellido:</label>
            <input type="text" name="datos" id="datos">

        </form>
    </div>
    <div class="usuario">
        <form action="">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="usuario">
        </form>
    </div>
    <div class="nac">
        <form action="">
            <label for="nacimiento">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" id="nacimiento">
        </form>
    </div>
    <div class="dom">
        <form action="">
            <label for="domicilio">Direccion:</label>
            <input type="text" name="domicilio" id="domicilio">
        </form>
    </div>


</body>

</html>