* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}

main {
    text-align: center;
    width: 100%;
}

article {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;


}

article img {

    width: 100%;
}

.descuento,
.descripcion {
    font-size: 16px;
}

.descuento {
    width: 70%;
    color: #39b54a;
}

.precio {
    width: 30%;
    font-size: 18px;
}

.titular {
    font-size: 24px;
}


.main-header {
    background-color: #EAC926;
    padding: 20px;

}

.banner {
    max-width: 90%;
}

.hamburguer-button {

    background-color: #03264C;

    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

footer {
    text-align: center;
}