* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;

}

main {
    text-align: center;
    width: 90%;
}

article {

    margin-top: 10px;
    margin-bottom: 10px;

}



.descuento,
.descripcion {
    font-size: 16px;
}

.descuento {
    width: 70%;
    color: #39b54a;
}

.precio {
    width: 30%;
    font-size: 18px;
}

.titular {
    font-size: 24px;
}

img {
    margin: auto;
    width: 90%;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;

}

.banner {
    max-width: 90%;
}

.hamburguer-button {

    background-color: #03264C;

    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: block;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

footer {
    text-align: center;
}

/* ** NAVEGACION MOBILE ** */


@media(min-width:361px) {

    .product {
        display: block;
        margin: auto;


        margin-bottom: 20px;
        width: 90%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main-navbar {
        display: none;
    }

    .producto {
       
        border-top: 1px solid #666;
        padding: 15px;
        margin: auto;
        width: 90%;

    }

    .descripcion {
        display: none;
    }



    .precio {

        width: 30%;
        border: 2px solid red;
    }

    .descuento {
        width: 70%;
        border: 2px solid green;

    }

    .icono {
        border: 2px solid #39b54a;
        font-style: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 80px;
        top: 590px;
    }




}

/* ** NAVEGACION TABLET ** */

@media(min-width: 769px) {
    .product {
        display: block;
        margin: auto;
        width: 90%;
        border: #ebebeb 3px solid;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
    }

    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .descripcion {
        display: block;
    }
}

/* ** NAVEGACION DESKTOP ** */


@media (min-width: 1200px) {
    .product {


        max-width: 90%;
        border: #ebebeb 3px solid;
    }

    .logo {
        width: 250px;

    }

    .hamburguer-button {
        display: none;
    }

    .main-header {
        position: fixed;
        top: 0px;
    }

    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .main-header-top-bar {
        align-items: center;
    }

    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }

    .main-navbar {
        margin-top: 35px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;
    }
}